.toy-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

.toy-list li {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* background-color: rgba(220, 220, 220, 0.434); */
    background-color: rgba(50, 64, 223, 0.642);
    margin: 0.5em;
    border-radius: 5%;
}